<html>
  <head>
    <title>Menu</title>
  </head>
  <body>
    <h1>Menu</h1>
    <form action='/<%= menu.kitchenid  %>' method='GET'>
    <p> 
      Kitchenid:
    </p>
      <input type='text' name='menu[kitchenid]'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>